.hero-cont{
    width: 100%;
    max-width: 425px;
}
.hero-img{
    max-width: 425px;
    width: 100%;
  }
  .hero-img img{
    width: 100%;
  }
  .hero-txt{
    max-width: 425px;
    width: 100%;
    background: white;
    text-align: center;
    margin-top: 20px;
  }
  .hero-txt h1{
      font-size: 2em;
      font-weight: 200;
      padding-bottom: 20px;
  }
  .hero-txt h1 span{
    font-size: 1em;
    font-weight: 500;
    color: rgb(84,201,119);
    padding-bottom: 20px;
}
.hero-txt p{
    padding-bottom: 0px;
    font-size: 1em;
    font-weight: 500;
    color: rgb(84, 82,103);
}
  .line{
      width: 9em;
      height: 1px;
      background: black;
      margin: 30px auto;
  }
  .discover-btn{
    background: rgb(84, 82,103);
    width: 150px;
    padding: 13px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    -webkit-box-shadow: 0px 17px 50px -16px #000000; 
    box-shadow: 0px 17px 50px -16px #000000;
  }
  .tea-facts{
      display: flex;  
      width: 100%;
      max-width: 425px;
      font-size: 12px;  
      margin-top: 20px;
}
.ingredients{
    margin: 0 auto;
}
.ingredients :nth-child(2){
    padding-top: 5px;

    color: rgb(84,201,119);

}
.variations{

    margin: 0;

}
.variations :nth-child(2){
    padding-top: 5px;
    color: rgb(84,201,119);

}
.volume{
    margin: 0 auto;

}
.volume :nth-child(2){
    padding-top: 5px;

    color: rgb(84,201,119);

}