.popular-cont{
    max-width: 425px;
    width: 100%;
}
.popular-heading{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 100px;
}

.popular-heading div{
    display: flex;
    padding: 0;
    align-items: center;
   }
   .popular-heading .number p{
   padding: 0 10px;
   padding-bottom: 0px;
   font-weight: 300;
   color: rgb(84, 82,103);
   }
   .popular-heading .popular p{
    padding: 0 10px;
    padding-bottom: 0px;
    font-weight: 300;
    font-size: 1.5em;
    color: rgb(84, 82,103);
    }
.popular-line{
    width: 1em;
    height: 1px;
    background: black;
}